<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Расчёт дневного перехода армии</title>
    <link rel="stylesheet" href="/static/styles/style.css">
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <div class="logo">
                <a href="/armies">
                    <img src="/static/images/logo.png" alt="">
                </a>
            </div>

            <div class="headerBTNs">
                <a href="/armies" class="homeBTN redBTN">Домой</a>
            </div>

        </div>
    </div>
    <div class="animalsRow">
    </div>
    <div class="wrapper">
        <h1>Расчёт времени в пути (сутки)</h1>

        <div class="armiesToCalc">

            {{ range .reqArmy}}
            <div class="oneATC">
                <div class="atcImage">
                    <img src="{{ .Army.ImageArmyUrl}}" alt="image">
                </div>
                <div class="atcDescription">
                    <h3>{{ .Army.NameArmy}}</h3>
                    <p>Равнина: {{.Army.MinPlainSpeed}} - {{.Army.MaxPlainSpeed}} км</p>
                    <p>Горы/холмы: {{.Army.MinMountSpeed}} - {{.Army.MaxMountSpeed}} км</p>
                    <p>Лес: {{.Army.MinForestSpeed}} - {{.Army.MaxForestSpeed}} км</p>
                    <p>Река: {{.Army.MinRiverSpeed}} - {{.Army.MaxRiverSpeed}} км</p>
                    <p>Пустыня: {{.Army.MinDesertSpeed}} - {{.Army.MaxDesertSpeed}} км</p>
                </div>
                <div class="atcButtons">
                    <a href="/one_army/{{ .Army.ArmyID }}" class="redBTN atcBTN">Подробнее</a>
                    <!--a href="#" class="redBTN atcBTN">Удалить</a-->
                    <!-- сюда надо добавить поле для летописных данных-->
                    <!-- надо добавить подпись к полю. можно снизу как на озоне-->
                    <div class="irlTime">
                        <input type="number" class="irlTime" name="irlTime" value="{{.KmPerDayIRL}}">
                        <p>Километров в сутки, <br>по летописным данным</p>
                    </div>
                </div>
            </div>
            {{ end }}


        </div>

        <div class="calculateFields">
            <form action="#">
                <select name="biome" value="{{.timeTravel.ChosenBiomTT}}">
                    <option value="" disabled selected>Выберите тип местности</option>
                    <option value="Plain" {{if eq .calc.ChosenBiomTT "Plain" }}selected{{end}}>Равнина</option>
                    <option value="Mount" {{if eq .calc.ChosenBiomTT "Mount" }}selected{{end}}>Горы/холмы</option>
                    <option value="Forest" {{if eq .calc.ChosenBiomTT "Forest" }}selected{{end}}>Лес</option>
                    <option value="River" {{if eq .calc.ChosenBiomTT "River" }}selected{{end}}>Река</option>
                    <option value="Desert" {{if eq .calc.ChosenBiomTT "Desert" }}selected{{end}}>Пустыня</option>
                </select>
                <input type="text" pattern="[0-9]{1,}" required placeholder="Пройденное расстояние"
                    value="{{.timeTravel.DistanceTT}}">
                <!--button class="redBTN calculateBTN">Рассчитать</button-->
            </form>
        </div>

        <div class="resultReq">
            <h2>Время перехода составляет от <span class="calcDays">{{ .timeTravel.ResultMinTT}}</span> до <span
                    class="calcDays">{{.timeTravel.ResultMaxTT}}</span> суток</h2>
            <form action="/delete_tt/{{.timeTravel.TtID}}" method="post">
                <button class="redBTN deleteBTN">Удалить</button>
            </form>

        </div>

    </div>
</body>

</html>